
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Chess World</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
		<link href="/static/css/chessboard.min.css" type="text/css" rel="stylesheet">
	</head>

	<body>
		<div id="myModal" class="modal">
			<form id="nameForm">
				Name: <input id="nameInput" type="text" maxlength="20"><br><br>
				<input type="submit" value="Submit">
			</form>
			<div>
				<p id="error-text"></p>
			</div>
		</div>
		<div id="loading">
			<div class="lds-dual-ring"></div>
		</div>
		<div class="header">
			<p>Room: {{ room_key }} Name: <span id='name'></span></p>
			<p>White: <b id='white'></b> Black: <b id='black'></b></p>
		</div>
		<div id="myBoard" class="chess-board"></div>
		<p id="gameOver" class="game-over"></p>
		<div class="chat">
	     <ul class="messages"></ul>
	     <input class="input-message" placeholder="Type here..." maxlength="420"/> <!-- nice -->
		</div>

		<script src="/static/lib/jquery.min.js"></script>
		<script src="/static/lib/socket.io.js"></script>
    <script src="/static/lib/three.min.js"></script>
		<script src="/static/lib/inflate.min.js"></script>
		<script src="/static/lib/Detector.js"></script>
		<script src="/static/lib/stats.min.js"></script>
		<script src="/static/lib/GLTFLoader.js"></script>
		<script src="/static/lib/FBXLoader.js"></script>
		<script src="/static/lib/chess.js"></script>
		<script src="/static/lib/chessboard.min.js"></script>

    <script type="x-shader/x-fragment" id="fragmentShaderDepth">
			uniform sampler2D texture;
			varying vec2 vUV;

			vec4 pack_depth( const in float depth ) {
				const vec4 bit_shift = vec4( 256.0 * 256.0 * 256.0, 256.0 * 256.0, 256.0, 1.0 );
				const vec4 bit_mask  = vec4( 0.0, 1.0 / 256.0, 1.0 / 256.0, 1.0 / 256.0 );
				vec4 res = fract( depth * bit_shift );
				res -= res.xxyz * bit_mask;
				return res;
			}

			void main() {
				vec4 pixel = texture2D( texture, vUV );
				if ( pixel.a < 0.5 ) discard;
				gl_FragData[ 0 ] = pack_depth( gl_FragCoord.z );
			}
		</script>

		<script type="x-shader/x-vertex" id="vertexShaderDepth">
			varying vec2 vUV;

			void main() {
				vUV = 0.75 * uv;
				vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
				gl_Position = projectionMatrix * mvPosition;
			}
		</script>

		<script id="globals" src="/static/globals.js" room-key="{{ room_key }}" socket-url="{{ socket_url }}"></script>
		<script src="/static/scene.js"></script>
		<script src="/static/sounds.js"></script>
		<script src="/static/chessBoard.js"></script>
		<script src="/static/chat.js"></script>
    <script src="/static/game.js"></script>
	</body>
</html>
